/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', helvetica, arial, sans-serif;
  background-color:#222222;
  margin: 0px;
  color: white;
}

h1 {
  font-weight: bold;
  color: white;
  text-align: center;
}

h3 {
  font-weight: bold;
  color: white;
  text-align: center;
}

.bold {
  font-weight: bold;
}

a:link, a:visited{
  text-decoration: none; 
  color: white;
}

a:hover{
  color: red;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  border-radius: 3px;
}

button {
  font-family: 'Raleway';
  font-size: 16px;
  border-radius: 0px;
  background-color: #555555;
  border-style: solid;
  border-color: #777777;
  border-left-width: 0px;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #666666;
}

button:active {
  box-shadow: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list {
  margin-left: 25px;
  margin-top: 50px;
  margin-right: 25px;
  margin-bottom: 50px;
  line-height: 1.7;
  background-color: #444444;
  border-radius: 10px;
  border: 2px solid #777777;
  color:#EEEEEE;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

input {
  display: block;
  margin-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  border: 0px;
  border-radius: 0px;
  font-size: 40px;
  text-align: left;
  background-color: #333333;
  caret-color: white;
  outline-width: 0;
  color: white;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  line-height: 1.7;
}

table {
  width: 100%;
  border-spacing: 0 1em;
}

th {
  font-size: 20px;
}

.nameRow {
  vertical-align: bottom;
}

.bigTable {
  border-spacing: 0 2em;
}

.bigText {
  font-size: 40px;
}

.name {
  width: 50%;
  vertical-align: bottom;
  height: 1.4em;
}

.queue {
  padding-left: 10px;
}

.scrqueue{
  padding-left: 30px;
  margin-left: 35px;
}

.submitBtn {
  background-color: #333333;
  text-align: center;
  border: 2px solid #333333;
}

.clearBtn {
  text-align: center;
  font-size: 24px;
  border-left-width: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.submitBtn:hover {
  background-color: #444444;
  cursor: pointer;
  border: 2px solid lightgrey;
}

.nextBtn {
  width:100%;
  height: 2em;
}

.list {
  font-size: 3em;
  padding-left: 50px;
}

.center {
  text-align: center;
}

.fixed {
  position: fixed;
  bottom: 10px;
  right: 0;
  width: 60px;
}

.clearBtn {
  color: white;
}